* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.area_menu {
  width: 100%;
  height: 74px;
  opacity: 1;
  /* position: absolute;
  top: 0px; */
  left: 50px;
  overflow: hidden;
}
.banner_institucional {  
  opacity: 1;
  /* position: absolute;
  top: 104px; */
  left: 0px;
  overflow: hidden;
}
.area_doacao {
  width: 100%;
  height: 285px;
  background: url("../images/v404_148.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  /* position: absolute;
   top: 700px; */
  left: 0px; 
  overflow: hidden;
}

.menu_logo {
  width: 124px;
  height: 47px;
  background: url("../images/v404_32.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 10px;
  overflow: hidden;
}

.area_depoimento {
  width: 100%;
  height: 400px;
  
  opacity: 1;
  /* position: absolute;
  top: 1370px; */
  /* left: 400px; */
  overflow: hidden;
}
.area_depoimento_imagem {
  width: 50%;
  height: 50%;
  background: url("../images/v404_58.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  /* position: absolute;*/
  /* top: 100px; 
  left: 400px; */
  overflow: hidden;
}
.area_apresentacao {
  width: 70%;
  color: rgba(0,0,0,1);
  /* position: absolute; */
  /* top: 2081px; */
  left: 15%; 
  font-family: Raleway;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: center;
}

.area_contagem {
  width: 100%;
  height: 139px;  
  opacity: 1;   
  overflow: hidden;
}
.area_endereco {
  width: 100%;
  height: 130px;
  top: 140%; 
  
  opacity: 1;
  position: absolute;
  
  left: 10%;
  overflow: hidden;
}
.area_logradouro {
  width: 570px;
  height: 130px;
  background: url("../images/v404_128.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;  
  
  overflow: hidden;
}
.area_contato {
  width: 570px;
  height: 130px;
  background: rgba(81,46,130,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 570px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.area_redes {
  width: 21px;
  color: rgba(0,0,0,1);
  /* position: absolute;
  top: 2729px;
  left: 879px; */
  font-family: Font Awesome 5 Brands;
  font-weight: Regular;
  font-size: 21px;
  opacity: 1;
  text-align: center;
}

.area_reservado {
  width: 205px;
  color: rgba(51,51,51,1);
  position: absolute;
  top: 2787px;
  left: 0px;   
  opacity: 1;
  text-align: center;
}
.area_reservado1 {
  width: 205px;
  color: rgba(51,51,51,1);
  
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v404_29 {
  width: 100%;
  height: 2827px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v404_30 {
  width: 100%;
  height: 74px;
  background: url("../images/v404_30.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 390px;
  overflow: hidden;
}


.v404_33 {
  width: 228px;
  height: 74px;
  background: url("../images/v404_33.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 228px;
  overflow: hidden;
}
.v404_34 {
  width: 128px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 24px;
  left: 10px;
  font-family: Raleway;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v404_35 {
  width: 228px;
  height: 74px;
  background: url("../images/v404_35.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 456px;
  overflow: hidden;
}
.v404_36 {
  width: 127px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 24px;
  left: 10px;
  font-family: Raleway;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}

.v404_37 {
  width: 228px;
  height: 74px;
  background: url("../images/v404_37.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 684px;
  overflow: hidden;
}
.v404_38 {
  width: 42px;
  height: 42px;
  background: url("../images/v404_38.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 23px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v404_39 {
  width: 21px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 10px;
  left: 11px;
  font-family: Font Awesome 5 Brands;
  font-weight: Regular;
  font-size: 21px;
  opacity: 1;
  text-align: center;
}
.v404_40 {
  width: 42px;
  height: 42px;
  background: url("../images/v404_40.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 70px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v404_41 {
  width: 18px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 10px;
  left: 12px;
  font-family: Font Awesome 5 Brands;
  font-weight: Regular;
  font-size: 21px;
  opacity: 1;
  text-align: center;
}
.v404_42 {
  width: 42px;
  height: 42px;
  background: url("../images/v404_42.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 117px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v404_43 {
  width: 18px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 10px;
  left: 12px;
  font-family: Font Awesome 5 Brands;
  font-weight: Regular;
  font-size: 21px;
  opacity: 1;
  text-align: center;
}
.v404_44 {
  width: 42px;
  height: 42px;
  background: url("../images/v404_44.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 164px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v404_45 {
  width: 23px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: Font Awesome 5 Brands;
  font-weight: Regular;
  font-size: 21px;
  opacity: 1;
  text-align: center;
}
.v404_46 {
  width: 228px;
  height: 74px;
  background: url("../images/v404_46.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 912px;
  overflow: hidden;
}
.v404_47 {
  width: 208px;
  height: 44px;
  background: rgba(119, 62, 4, 0.925);
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v404_48a {
  
  color: rgba(255,255,255,1);
    
  font-family: Roboto;
  font-weight: Medium;
  font-size: 19px;
  opacity: 1;
  text-align: center;
}
.v404_48 {
  width: 109px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 11px;
  left: 39px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 19px;
  opacity: 1;
  text-align: center;
}
.v404_49 {
  width: 19px;
  height: 19px;
  background: url("../images/v404_49.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 149px;
  overflow: hidden;
}
.v404_50 {
  width: 19px;
  height: 19px;
  background: url("../images/v404_50.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v404_51 {
  width: 19px;
  height: 19px;
  background: url("../images/v404_51.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v404_52 {
  width: 18px;
  height: 16px;
  background: rgba(230,231,232,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
}

.v404_53 {
  width: 100%;
  height: 1058px;
  background: url("../images/v404_53.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 94px;
  left: 0px;
  overflow: hidden;
}
.area_doacao_cheia {
  width: 100%;
  height: 637px;
  background: url("../images/v404_54.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1370px;
  left: 400px;
  overflow: hidden;
}
.v404_55 {
  width: 100%;
  height: 630px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v404_56 {
  width: 100%;
  height: 630px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v404_57 {
  width: 100%;
  height: 630px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v404_58 {
  width: 100%;
  height: 630px;
  background: url("../images/v404_58.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v404_59 {
  width: 68px;
  height: 48px;
  background: url("../images/v404_59.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 291px;
  left: 526px;
  overflow: hidden;
}
.v404_60 {
  width: 68px;
  height: 48px;
  background: rgba(255,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v404_61 {
  width: 18px;
  height: 20px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 27px;
}
.v404_62 {
  width: 172px;
  height: 47px;
  background: rgba(23,23,23,0.800000011920929);
  opacity: 1;
  position: absolute;
  top: 578px;
  left: 0px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  overflow: hidden;
}
.v404_63 {
  width: 67px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 16px;
  left: 12px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v404_64 {
  width: 72px;
  height: 16px;
  background: url("../images/v404_64.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 88px;
  overflow: hidden;
}
.v404_65 {
  width: 66px;
  height: 14px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 2px;
  border: 1.2307692766189575px solid rgba(0,0,0,0.15000000596046448);
}
.v404_66 {
  width: 66px;
  height: 14px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 2px;
}
.v404_67 {
  width: 100%;
  height: 99px;
  background: url("../images/v404_67.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v404_68 {
  width: 100%;
  height: 60px;
  background: url("../images/v404_68.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 12px;
  overflow: hidden;
}
.v404_69 {
  width: 978px;
  height: 23px;
  background: url("../images/v404_69.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 50px;
  overflow: hidden;
}
.v404_70 {
  width: 349px;
  color: rgba(238,238,238,1);
  position: absolute;
  top: 1px;
  left: 0px;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v404_71 {
  width: 48px;
  height: 60px;
  background: url("../images/v404_71.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.8999999761581421;
  position: absolute;
  top: 0px;
  left: 1050px;
  overflow: hidden;
}
.v404_72 {
  width: 36px;
  height: 36px;
  background: url("../images/v404_72.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 6px;
  overflow: hidden;
}
.v404_73 {
  width: 19px;
  height: 16px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 8px;
  border: 2px solid rgba(0,0,0,0.15000000596046448);
}
.v404_74 {
  width: 19px;
  height: 16px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 8px;
}
.v404_75 {
  width: 48px;
  height: 18px;
  background: url("../images/v404_75.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 42px;
  left: 0px;
  overflow: hidden;
}
.v404_76 {
  width: 36px;
  color: rgba(238,238,238,1);
  position: absolute;
  top: 1px;
  left: 6px;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  font-family: Roboto;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v404_77 {
  width: 50px;
  height: 50px;
  background: url("../images/v404_77.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 7px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v404_78 {
  width: 40px;
  height: 40px;
  background: url("../images/v404_78.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 5px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}

.v404_80 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2114px;
  left: 461px;
  font-family: Raleway;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: center;
}
.v404_81 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2147px;
  left: 443px;
  font-family: Raleway;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: center;
}
.v404_82 {
  width: 452px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2180px;
  left: 744px;
  font-family: Raleway;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: center;
}

.v404_84 {
  width: 228px;
  height: 139px;
  background: url("../images/v404_84.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  /* position: absolute; */
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v404_85 {
  width: 208px;
  height: 69px;
  background: url("../images/v404_85.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 10px;
  overflow: hidden;
}
.v404_86 {
  width: 103px;
  height: 69px;
  background: url("../images/v404_86.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v404_87 {
  width: 37px;
  color: rgba(81,46,130,1);
  position: absolute;
  top: 6px;
  left: 65px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 49px;
  opacity: 1;
  text-align: right;
}
.v404_88 {
  width: 39px;
  color: rgba(81,46,130,1);
  position: absolute;
  top: 0px;
  left: 103px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 49px;
  opacity: 1;
  text-align: left;
}
.v404_89 {
  width: 65px;
  height: 69px;
  background: url("../images/v404_89.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 142px;
  overflow: hidden;
}
.v404_90 {
  width: 208px;
  height: 50px;
  background: url("../images/v404_90.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 79px;
  left: 10px;
  overflow: hidden;
}
.v404_91 {
  width: 46px;
  color: rgba(81,46,130,1);
  position: absolute;
  top: 13px;
  left: 81px;
  font-family: Roboto;
  font-weight: ExtraBold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v404_92 {
  width: 228px;
  height: 139px;
  background: url("../images/v404_92.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 228px;
  overflow: hidden;
}
.v404_93 {
  width: 208px;
  height: 69px;
  background: url("../images/v404_93.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 10px;
  overflow: hidden;
}
.v404_94 {
  width: 103px;
  height: 69px;
  background: url("../images/v404_94.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v404_95 {
  width: 37px;
  color: rgba(81,46,130,1);
  position: absolute;
  top: 6px;
  left: 65px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 49px;
  opacity: 1;
  text-align: right;
}
.v404_96 {
  width: 39px;
  color: rgba(81,46,130,1);
  position: absolute;
  top: 0px;
  left: 103px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 49px;
  opacity: 1;
  text-align: left;
}
.v404_97 {
  width: 65px;
  height: 69px;
  background: url("../images/v404_97.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 142px;
  overflow: hidden;
}
.v404_98 {
  width: 208px;
  height: 50px;
  background: url("../images/v404_98.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 79px;
  left: 10px;
  overflow: hidden;
}
.v404_99 {
  width: 169px;
  color: rgba(81,46,130,1);
  position: absolute;
  top: 13px;
  left: 19px;
  font-family: Roboto;
  font-weight: ExtraBold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v404_100 {
  width: 228px;
  height: 139px;
  background: url("../images/v404_100.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 456px;
  overflow: hidden;
}
.v404_101 {
  width: 208px;
  height: 69px;
  background: url("../images/v404_101.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 10px;
  overflow: hidden;
}
.v404_102 {
  width: 103px;
  height: 69px;
  background: url("../images/v404_102.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v404_103 {
  width: 37px;
  color: rgba(81,46,130,1);
  position: absolute;
  top: 6px;
  left: 65px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 49px;
  opacity: 1;
  text-align: right;
}
.v404_104 {
  width: 39px;
  color: rgba(81,46,130,1);
  position: absolute;
  top: 0px;
  left: 103px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 49px;
  opacity: 1;
  text-align: left;
}
.v404_105 {
  width: 65px;
  height: 69px;
  background: url("../images/v404_105.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 142px;
  overflow: hidden;
}
.v404_106 {
  width: 208px;
  height: 50px;
  background: url("../images/v404_106.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 79px;
  left: 10px;
  overflow: hidden;
}
.v404_107 {
  width: 208px;
  color: rgba(81,46,130,1);
  position: absolute;
  top: 13px;
  left: 0px;
  font-family: Roboto;
  font-weight: ExtraBold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v404_108 {
  width: 228px;
  height: 139px;
  background: url("../images/v404_108.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 684px;
  overflow: hidden;
}
.v404_109 {
  width: 208px;
  height: 69px;
  background: url("../images/v404_109.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 10px;
  overflow: hidden;
}
.v404_110 {
  width: 103px;
  height: 69px;
  background: url("../images/v404_110.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v404_111 {
  width: 37px;
  color: rgba(81,46,130,1);
  position: absolute;
  top: 6px;
  left: 65px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 49px;
  opacity: 1;
  text-align: right;
}
.v404_112 {
  width: 39px;
  color: rgba(81,46,130,1);
  position: absolute;
  top: 0px;
  left: 103px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 49px;
  opacity: 1;
  text-align: left;
}
.v404_113 {
  width: 65px;
  height: 69px;
  background: url("../images/v404_113.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 142px;
  overflow: hidden;
}
.v404_114 {
  width: 208px;
  height: 50px;
  background: url("../images/v404_114.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 79px;
  left: 10px;
  overflow: hidden;
}
.v404_115 {
  width: 74px;
  color: rgba(81,46,130,1);
  position: absolute;
  top: 13px;
  left: 66px;
  font-family: Roboto;
  font-weight: ExtraBold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v404_116 {
  width: 228px;
  height: 139px;
  background: url("../images/v404_116.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 912px;
  overflow: hidden;
}
.v404_117 {
  width: 208px;
  height: 57px;
  background: url("../images/v404_117.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 10px;
  overflow: hidden;
}
.v404_118 {
  width: 62px;
  color: rgba(81,46,130,1);
  position: absolute;
  top: 0px;
  left: 72px;
  font-family: Font Awesome 5 Free;
  font-weight: Solid;
  font-size: 50px;
  opacity: 1;
  text-align: center;
}
.v404_119 {
  width: 208px;
  height: 32px;
  background: url("../images/v404_119.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 92px;
  left: 10px;
  overflow: hidden;
}
.v404_120 {
  width: 120px;
  color: rgba(81,46,130,1);
  position: absolute;
  top: 3px;
  left: 43px;
  font-family: Roboto;
  font-weight: SemiBold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v404_121 {
  width: 100%;
  height: 20px;
  background: url("../images/v404_121.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2433px;
  left: 400px;
  overflow: hidden;
}
.v404_122 {
  width: 100%;
  height: 20px;
  background: url("../images/v404_122.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v404_123 {
  width: 100%;
  height: 20px;
  background: url("../images/v404_123.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v404_124 {
  width: 92px;
  height: 20px;
  background: url("../images/v404_124.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v404_125 {
  width: 92px;
  height: 12px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 0px;
}
.v404_126 {
  width: 100%;
  height: 20px;
  background: rgba(81,46,130,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}


.v404_129 {
  width: 550px;
  height: 42px;
  background: url("../images/v404_129.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 10px;
  overflow: hidden;
}
.v404_130 {
  width: 151px;
  color: rgba(81,46,130,1);
  position: absolute;
  top: 3px;
  left: 0px;
  font-family: Roboto;
  font-weight: Black;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v404_131 {
  width: 550px;
  height: 58px;
  background: url("../images/v404_131.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 62px;
  left: 10px;
  overflow: hidden;
}
.v404_132 {
  width: 97px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 5px;
  left: 0px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v404_133 {
  width: 329px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 96px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v404_134 {
  width: 91px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 24px;
  left: 0px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v404_135 {
  width: 344px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 29px;
  left: 91px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}

.v404_137 {
  width: 550px;
  height: 42px;
  background: url("../images/v404_137.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 10px;
  overflow: hidden;
}
.v404_138 {
  width: 130px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3px;
  left: 0px;
  font-family: Roboto;
  font-weight: Black;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v404_139 {
  width: 550px;
  height: 58px;
  background: url("../images/v404_139.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 62px;
  left: 10px;
  overflow: hidden;
}
.v404_140 {
  width: 102px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 5px;
  left: 0px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v404_141 {
  width: 148px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 102px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v404_142 {
  width: 68px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 24px;
  left: 0px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v404_143 {
  width: 331px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 29px;
  left: 68px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v404_144 {
  width: 18px;
  color: rgba(0,0,0,1);
   position: absolute;
  top: 2729px;
  left: 879px; 
  font-family: Font Awesome 5 Brands;
  font-weight: Regular;
  font-size: 21px;
  opacity: 1;
  text-align: center;
}

.v404_145 {
  width: 18px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2729px;
  left: 928px;
  font-family: Font Awesome 5 Brands;
  font-weight: Regular;
  font-size: 21px;
  opacity: 1;
  text-align: center;
}
.v404_146 {
  width: 18px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2729px;
  left: 975px;
  font-family: Font Awesome 5 Brands;
  font-weight: Regular;
  font-size: 21px;
  opacity: 1;
  text-align: center;
}
.v404_147 {
  width: 23px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2729px;
  left: 1019px;
  font-family: Font Awesome 5 Brands;
  font-weight: Regular;
  font-size: 21px;
  opacity: 1;
  text-align: center;
}
.v404_149 {
  width: 100%;
  height: 209px;
  background: url("../images/v404_149.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 383px;
  overflow: hidden;
}
.v404_150 {
  width: 288px;
  height: 209px;
  background: url("../images/v404_150.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v404_151 {
  width: 246px;
  height: 179px;
  background: url("../images/v404_151.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 21px;
  overflow: hidden;
}
.v404_152 {
  width: 288px;
  height: 209px;
  background: url("../images/v404_152.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 289px;
  overflow: hidden;
}
.v404_153 {
  width: 246px;
  height: 179px;
  background: url("../images/v404_153.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 21px;
  overflow: hidden;
}
.v404_154 {
  width: 288px;
  height: 209px;
  background: url("../images/v404_154.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 577px;
  overflow: hidden;
}
.v404_155 {
  width: 246px;
  height: 179px;
  background: url("../images/v404_155.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 21px;
  overflow: hidden;
}
.v404_156 {
  width: 288px;
  height: 209px;
  background: url("../images/v404_156.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 866px;
  overflow: hidden;
}
.v404_157 {
  width: 246px;
  height: 179px;
  background: url("../images/v404_157.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 21px;
  overflow: hidden;
}

